[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohappyeyeballs = "==2.4.3"
aiohttp = "==3.10.10"
aiosignal = "==1.3.1"
altair = "==5.4.1"
annotated-types = "==0.7.0"
async-timeout = "==4.0.3"
attrs = "==24.2.0"
bcrypt = "==4.2.0"
beautifulsoup4 = "==4.12.3"
blinker = "==1.8.2"
cachetools = "==5.5.0"
certifi = "==2024.12.14"
charset-normalizer = "==3.4.1"
click = "==8.1.7"
colorama = "==0.4.6"
contourpy = "==1.3.0"
cycler = "==0.12.1"
decorator = "==5.1.1"
deprecated = "==1.2.14"
docstring-parser = "==0.16"
entrypoints = "==0.4"
et-xmlfile = "==2.0.0"
faker = "==30.8.2"
favicon = "==0.7.0"
fonttools = "==4.54.1"
frozenlist = "==1.5.0"
fsspec = "==2024.10.0"
gcsfs = "==2024.10.0"
gitdb = "==4.0.11"
gitpython = "==3.1.43"
google-api-core = "==2.22.0"
google-auth = "==2.35.0"
google-auth-httplib2 = "==0.2.0"
google-auth-oauthlib = "==1.2.1"
google-cloud-aiplatform = "==1.71.1"
google-cloud-appengine-logging = "==1.5.0"
google-cloud-audit-log = "==0.3.0"
google-cloud-core = "==2.4.1"
google-cloud-logging = "==3.11.3"
google-cloud-pubsub = "==2.26.1"
google-cloud-resource-manager = "==1.13.0"
google-cloud-storage = "==2.18.2"
google-crc32c = "==1.6.0"
google-resumable-media = "==2.7.2"
googleapis-common-protos = "==1.65.0"
grpcio = "==1.67.1"
grpcio-status = "==1.67.1"
htbuilder = "==0.6.2"
httplib2 = "==0.22.0"
idna = "==3.10"
importlib-metadata = "==8.5.0"
importlib-resources = "==6.4.5"
jinja2 = "==3.1.4"
jsonschema = "==4.23.0"
jsonschema-specifications = "==2024.10.1"
kiwisolver = "==1.4.7"
lxml = "==5.3.0"
markdown = "==3.7"
markdown-it-py = "==3.0.0"
markdownlit = "==0.0.7"
markupsafe = "==3.0.2"
matplotlib = "==3.9.2"
mdurl = "==0.1.2"
more-itertools = "==10.5.0"
multidict = "==6.1.0"
narwhals = "==1.13.2"
numpy = "==2.0.2"
oauthlib = "==3.2.2"
openpyxl = "==3.1.5"
opentelemetry-api = "==1.28.0"
opentelemetry-sdk = "==1.28.0"
opentelemetry-semantic-conventions = "==0.49b0"
packaging = "==24.1"
pandas = "==2.2.3"
pillow = "==10.4.0"
prometheus-client = "==0.21.0"
propcache = "==0.2.0"
proto-plus = "==1.25.0"
protobuf = "==5.28.3"
pyarrow = "==18.0.0"
pyasn1 = "==0.6.1"
pyasn1-modules = "==0.4.1"
pydantic = "==2.9.2"
pydantic-core = "==2.23.4"
pydeck = "==0.9.1"
pygments = "==2.18.0"
pymdown-extensions = "==10.12"
pyparsing = "==3.2.0"
python-dateutil = "==2.9.0.post0"
python-dotenv = "==1.0.1"
pytz = "==2024.2"
pyyaml = "==6.0.2"
referencing = "==0.35.1"
requests = "==2.32.3"
requests-oauthlib = "==2.0.0"
requests-toolbelt = "==1.0.0"
rich = "==13.9.4"
rpds-py = "==0.21.0"
rsa = "==4.9"
shapely = "==2.0.6"
six = "==1.16.0"
smmap = "==5.0.1"
soupsieve = "==2.6"
st-annotated-text = "==4.0.1"
st-files-connection = "==0.1.0"
st-theme = "==1.2.3"
streamlit = "==1.39.0"
streamlit-camera-input-live = "==0.2.0"
streamlit-card = "==1.0.2"
streamlit-embedcode = "==0.1.2"
streamlit-extras = "==0.5.0"
streamlit-faker = "==0.0.3"
streamlit-image-coordinates = "==0.1.9"
streamlit-keyup = "==0.2.4"
streamlit-toggle-switch = "==1.0.2"
streamlit-vertical-slider = "==2.5.5"
tenacity = "==9.0.0"
toml = "==0.10.2"
tornado = "==6.4.1"
typing-extensions = "==4.12.2"
tzdata = "==2024.2"
urllib3 = "==2.3.0"
validators = "==0.34.0"
watchdog = "==5.0.3"
wrapt = "==1.16.0"
yarl = "==1.17.1"
zipp = "==3.20.2"
google-cloud-secret-manager = "==2.23.1"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.10"
